{% extends "backend/base.html" %}
{% block title %} Add Invoice {% endblock %}
{% block content %}
<div class="container-fluid pt-4 px-xl-5 d-flex justify-content-center"> <!-- Center the content -->
    <div class="col-sm-12 col-md-8 col-lg-10"> <!-- Increase the column width -->
        <div class="bg-secondary rounded h-100 p-4">
            <h6 class="mb-4">Add Invoice</h6>
            <form method="POST" action="">
                {% csrf_token %}
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="name_id" name="name_id" value="{{ request.user.id }}" placeholder="User Name" hidden style="background: #000000">
                    <label for="name_id" >User ID</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="name" name="name" value="{{ request.user.full_name }}" placeholder="User Name" readonly style="background: #000000">
                    <label for="name_id" >User ID</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="date" class="form-control" id="month" name="month" value="{{ date }}" required>
                    <label for="month">Month</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="previous_reading" name="previous_reading" placeholder="Previous Reading" value="{{latest_record.current_reading}}" required>
                    <label for="previous_reading">Previous Reading</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="current_reading" name="current_reading" placeholder="Current Reading" required>
                    <label for="current_reading">Current Reading</label>
                </div>
                <button type="submit" class="btn btn-primary">Add Invoice</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
